
section {
    position: relative;
    padding: 10px 100px 0;
}

img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
ul {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
nav ul li {
    list-style-type: none;
    padding: 10px;
}
span {
    display: flex;
}

.slider {
    /* width: 100vw;
    height: 100vh; */
    display: flex;
}

.slide {
    width: 20vw;
    height: auto;
}


@media (max-width: 768px) {
    .slide {
        /* height: 50vh; */
    }
}

