
section {
    position: relative;
    padding: 10px 100px 0;
}

img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
ul {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
}
nav ul li {
    list-style-type: none;
    padding: 10px;
}
span {
    display: flex;
}

.slider {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
}

.slide {
    width: 20vw;
    height: auto;
}


@media (max-width: 768px) {
    .slide {
        /* height: 50vh; */
    }
}


/* Style the tab */
.tab {
    /* overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1; */
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    /* background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px; */
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    /* background-color: #ddd; */
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    /* display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none; */
  }